.button {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 143px;
	height: 31px;

	border-radius: 5px;
	border: 1px solid #1e1e47;
	background: linear-gradient(180deg, #c276fb 0%, #9b3ae9 23.75%, #9f41ed 47.19%, #8c2adf 70.1%, #6110ab 100%);
	box-shadow: 0px 0px 4px 4px rgba(207, 249, 255, 0.23) inset;

	user-select: none;

	transition: all 0.3s ease 0s;

	span {
		position: relative;
		color: #fff;
		font-family: "Impact";
		letter-spacing: 0.5px;
	}

	&:active {
		transform: translateY(2px);
	}

	// &._hold {
	// 	opacity: 0.5;
	// 	pointer-events: none;
	// }
}

.button-home {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 57px;
	height: 26px;

	border-radius: 13px;
	background: linear-gradient(180deg, #f6fcff 0%, #b0e8ff 100%);

	span {
		background: linear-gradient(180deg, #2886e7 0%, #3866d9 100%);

		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

[type="button"] {
	transition: all 0.3s ease 0s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	&:active {
		transform: translateY(3px);
	}
}

//========================================================================================================================================================

//========================================================================================================================================================

.score {
	white-space: nowrap;
	&._no-money {
		animation: no-money 0.7s ease 2;
	}
	&._delete-money {
		animation: delete-money 0.7s ease;
	}
	&._anim-add-money {
		animation: add-money 0.5s ease 3;
	}
}

.icon-game {
	&._anim-icon-jump {
		animation: jump_icon 5s ease;
	}
	&._anim-icon-scale {
		animation: scale_icon 0.5s ease 2;
	}
	&._anim-icon-rotate {
		animation: rotate_icon 1.5s ease-out 1;
	}
	&._anim-icon-rotate-2 {
		animation: rotate_icon-2 1.5s ease 1;
	}
}
//========================================================================================================================================================
